@body {
    background: #FFF7E8;
    color: #333;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 60px 20px;
}

h1 {
    font-size: 48px;
    color: purple;
}

button {
    display: block;
    width: 250px;
    margin: 15px auto;
    padding: 16px;

    font-size: 18px;
    border: none;
    border-radius: 12px;

    background: pink;
    color: #333;
}
